@charset "utf-8";
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ubuntu", "Source Code Pro" "Lucida Sans Unicode", Verdana, sans-serif;
    padding: 1em;
    font-size: 13px;
    background: url('./wow_filter.jpg') center 0 no-repeat fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 36px;
}

p {
    padding: 5px 10px;
    color: #D1C4E9
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #673ab7 !important;
}

br {
    color: #673ab7 !important;
}

table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}

thead {
    color: #3F51B5;
}

thead {
    border: #3F51B5;
}

td,
th {
    border-bottom: 1px solid #673ab7
}

a {
    font-size: 16px;
    color: #3f51b5;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #1A237E;
    text-decoration: underline;
}

th {
    padding: 5px 10px;
}

blockquote {
    margin: 5px 10px;
    font-size: 13px;
    padding-left: 10px;
    color: #C5CAE9;
    font-size: 14px;
    border-left: 2px solid #311B92 !important;
    border-right: 1px solid #7e57c2 !important;
}

code {
    padding: 2px 4px;
    font-size: 13px;
    background-color: rgba(103, 58, 183, 0.23);
    color: rgb(3, 169, 244) !important;
}

pre {
    border: 1px solid transparent;
    border-radius: 10px;
}

pre code {
    padding: 0 !important;
    color: #607d8b !important;
    background-color: inherit;
    border-radius: 10px;
}

ul {
    line-height: 20px;
}

ul li {
    color: #f98c71;
    padding: 2px;
}

ol li {
    color: rgb(142, 214, 251);
    padding: 2px;
}

strong {
    color: #D81B60;
}
